@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

.main-app {
  display: grid;
  grid-template-areas:
    "h h h"
    "s e e"
    "s e e"
  ;
  grid-template-columns: 0.7fr 2fr;
}

.main-editor, .main-sidebar {
  width: 100% !important;
  min-height: 90vh;
}

.main-editor {
  grid-area: e;
}

.main-sidebar {
  grid-area: s;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #dcdcdc;
  height: 95vh;
}

.main-header {
  grid-area: h;
}

.item-active {
  background: #f3f3f3;
}